################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/client/KeyCatcher/.vs/KeyCatcher2
/src/client/KeyCatcher/obj
/src/server/CatcherResetMenuRebuild/.vs
/src/client/KeyCatcher/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/src/client/KeyCatcher/.vs/ProjectEvaluation
