################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/client/KeyCatcher/.vs/KeyCatcher2
/src/client/KeyCatcher/obj
/src/client/KeyCatcher/bin
/src/server/CatcherResetMenuRebuild/.vs
/src/client/KeyCatcher/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/src/client/KeyCatcher/.vs/ProjectEvaluation
/libs
/src/server/CatcherResetMenuRebuild/src/.vs
/.vs/KeyCatcher/CopilotIndices/17.14.995.13737
/.vs/KeyCatcher/FileContentIndex
/.vs/KeyCatcher/FileContentIndex/0b305e5e-b283-4395-9903-e5298d4e03d3.vsidx
/.vs
/store.txt
/my-release-key.keystore
